<div class="container">
    <h1><%= title %></h1>
    <div class="d-flex align-items-start mb-2">
        <div class="col">    
            <img src="./content/images/personalphoto.jpg" class="img-fluid img-thumbnail" alt="Tarik personal photo">
        </div>
        <div class="col text-center">    
            <a href="./content/docs/Tarik_Obeidi_Resume_29-08-2022 simple.pdf">
                <img src="./content/images/info.jpg" class="img-fluid img-thumbnail" alt="business card">
            </a>
            <h2 >
                <a href="./content/docs/Tarik_Obeidi_Resume_29-08-2022 simple.pdf" target="_blank" class="text-warning">My Resume</a>
            </h2>
        </div>
    </div>
</div>