<div class="container">
    <!-- <h1><%= title %></h1> -->

    <div class="d-flex align-items-start mb-2">
        <div class="col">    

            <h2><span>Welcome to your gate to the future …</span></h2>
                
                <p>&nbsp;</p>
                
                <h3><span>Let’s build your success as a business web application. </span></p>

        </div>
        <div class="col"><img src="./content/images/homePhoto.png" class="img-fluid" alt="introducing">
        </div>
    </div>


</div>