<div class="container">
    <h1><%= title %></h1>
    <!-- Projexts -->

    
    <div class="d-flex align-items-start mb-1">
        <div class="col">    
            <h3 class="text-center">1- giveNget Trading System</h3>
            <h5> &Tab; giveNget is a platform to help people to trade their belongings for free. 
                The project encourages R3 (Reduce-Reuse, Recycle) idea to save human and 
                environment in two ways. The software helps people to trade (reuse) items 
                that are still usable which will (reduce) consuming new products that are 
                draining the earth resources. On the other hand, the software will be able 
                to build a behavioural model of the users that will help both vendors and 
                users to create targeted ads. 
                These users’ behavioral models will help vendor to make efficient campaigns 
                and guarantee the users their right to know.
            </h5>
        </div>
    </div>
    <div class="col">
        <img src="./content/images/giveNget.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="give- and git project diagram"> 
        <br><br><br>
    </div>


    <div class="d-flex align-items-start mb-1">
        <div class="col">    
            <h3 class="text-center">2- Musio </h3>
            <h5> &Tab;Resources sharing becomes more popular with time not only for its potential 
                economic benefits but also for the positive environmental impact by reducing 
                consumption. Sharing instruments could be a fruitful area for this application.  
                This new project will address the problem of people not being able to afford 
                music instruments. The application “MUSIO” is designed to allow people to get 
                affordable, easy access to musical instruments to enjoy their hobby by creating 
                a community platform to connect the person who owns an instrument (lender) with 
                another person who needs to rent it (borrower)  for a period of time. 

            </h5>
        </div>
    </div>

    <div class="col">
        <img src="./content/images/musio.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="MUSIO project diagram">
        <br><br><br> 
    </div>

    <div class="d-flex align-items-start mb-1">
        <div class="col">    
            <h3 class="text-center">3- Used Car Dealer assessment tool </h3>
            <h5> &Tab;In many cases customers need to compare different used 
                cars in the used car dealer inventory. However, these comparisons
                 are usually like comparing apples to bananas. It is not easy to 
                 compare 2015 Ford Focus (170,000Km) to 2018 Toyota Corolla (240,000 Km). 
                 In addition to these quantitative factors of comparison, there is 
                 also the qualitative factors like the exterior and interior quality of 
                 the used car (rust, dints, rips).   

            </h5>
        </div>
    </div>

    <div class="col">
        <img src="./content/images/cars.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="used cars" width="60%"> 
        <br><br><br>
    </div>


</div>